# NRES @ Chile, Texas, Israel, and South Africa

In [1]:
from pathlib import Path
import pandas as pd
import chronos as cr

Created TAP+ (v1.2.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Created TAP+ (v1.2.1) - Connection:
	Host: geadata.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443

## RV
* Tmag
* Rp
* Porb
* assume mass and compute semi-amplitude, K
* SNR -> exposure time * nspectra + overheads

In [10]:
fp = Path(cr.DATA_PATH, "TOIs2.csv")
df = pd.read_csv(fp)
df.head()

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,Planet mass (Mp_Earth),Planet mass (Mp_Earth) lo,Planet mass (Mp_Earth) hi,RV_K_lo,RV_K_hi,RV_K
0,231663901,101.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-03-04 13:49:16,WASP-46 b,342.034952,127.494156,931.912367,80.012417,584.846895,214.653316
1,149603524,102.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:39,2020-01-16 02:34:07,WASP 62b,377.103416,152.980876,980.335666,50.594800,324.222792,124.718019
2,336732616,103.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,HATS-3,371.446377,147.230200,987.601462,49.325896,330.871837,124.444070
3,231670397,104.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-73,327.045211,118.207200,901.004573,29.107064,221.861259,80.530848
4,144065872,105.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:19,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-95,322.569277,115.572727,891.704816,52.500148,405.066456,146.530546

In [12]:
bright = cr.get_below_upper_limit(12, df['TESS Mag'], df['TESS Mag err'])
hi_snr = cr.get_above_lower_limit(1, df['RV_K'], df['RV_K']-df['RV_K_lo'])
# Rp
# Porb
idx = bright & hi_snr
df[idx]

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,Planet mass (Mp_Earth),Planet mass (Mp_Earth) lo,Planet mass (Mp_Earth) hi,RV_K_lo,RV_K_hi,RV_K
1,149603524,102.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:39,2020-01-16 02:34:07,WASP 62b,377.103416,152.980876,980.335666,50.594800,324.222792,124.718019
2,336732616,103.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,HATS-3,371.446377,147.230200,987.601462,49.325896,330.871837,124.444070
3,231670397,104.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-73,327.045211,118.207200,901.004573,29.107064,221.861259,80.530848
4,144065872,105.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:19,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-95,322.569277,115.572727,891.704816,52.500148,405.066456,146.530546
5,38846515,106.01,NaN,5,5,5,5,5,5,5,...,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-100b,142.351614,22.931544,499.514824,10.343524,225.311629,64.209254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,86280613,1786.01,NaN,3,4,3,3,1,4,4,...,2020-03-12 14:22:11,2020-03-12 14:22:11,2020-03-13 12:00:27,v shaped,319.203688,120.926787,845.804227,35.908350,251.155556,94.785267
1339,450327768,1788.01,NaN,3,4,3,3,1,4,4,...,2020-03-12 14:22:11,2020-03-12 14:22:11,2020-03-13 12:00:27,NaN,222.575753,60.718933,680.967134,17.214946,193.066839,63.104363
1340,172518755,1789.01,NaN,3,4,3,3,1,4,4,...,2020-03-12 14:22:11,2020-03-12 14:22:11,2020-03-13 12:00:27,v-shaped; large; some centroid offset,321.638570,121.592666,853.593918,50.244200,352.719825,132.906641
1342,233684293,1791.01,NaN,3,4,3,3,1,4,4,...,2020-03-12 14:22:11,2020-03-12 14:22:11,2020-03-13 12:00:27,only 4 transits; possibly stellar variability,8.692156,3.468526,22.738370,0.626664,4.108179,1.570426
1344,304142124,1793.01,TIC 304142124.01,3,4,3,3,2,4,4,...,2020-03-16 09:31:24,2020-03-16 09:31:24,2020-03-27 12:00:19,single transit event,7.878945,3.239096,19.864467,0.747953,4.586987,1.819360

## transits
* RM/DT
 * all transiting observable with NRES
 * Prot+Rs or Vsini from vizier or exofop
 * At V=10, vsini~120km/s and 0.5 mmag transit, Doppler tomography of this target is well beyond our capabilities with most facilities right now. Our best case scenarios have enabled DTs of 1mmag transits at V<9 for more slowly rotating, line rich stars. 
 * DT candidate: [HJ around a field star](https://exofop.ipac.caltech.edu/tess/target.php?id=371443216)

In [ ]:
bright = cr.get_below_upper_limit(12, df['TESS Mag'], df['TESS Mag err'])

# By science

* sub-saturn
* USP
* tropical jupiter